::root {
    --color-epdeor-a: #0e2d56;
    --color-epdeor-b: #385fa0;
    --color-epdeor-c: #ff7c7c;
    --color-epdeor-d: #dce091;
    --color-epdeor-e: #cc1e1e;

    --color-primario: #680202;
    --color-secundario-a: #ffcc00;
    --color-secundario-b: #333399;
    --color-secundario-c: #CC0000;

    --color-fuente-a: #000000;
    --color-fuente-b: #cccccc;
}

@font-face {
    font-family: 'GothamBlack';
    src: url('../fonts/GothamBlack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRegular';
    src: url('../fonts/GothamRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'GothamBlack';
}

h2, h3, h4, h5, h6 {
    font-family: 'GothamRegular';
}

body {
    font-family: 'GothamLight';
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}
