{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="row g-4">
    <!-- Cards -->
    <div class="col-md-4">
        <div class="info-card">
            <i class="bi bi-geo-alt-fill icon"></i>
            <div>
                <h5 class="mb-1">Solicitudes pendientes</h5>
                <p class="mb-0">
                    No hay nada que mostrar
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-card">
            <i class="bi bi-envelope-fill icon"></i>
            <div>
                <h5 class="mb-1">Solicitar Material</h5>
                <p class="mb-0">info@example.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-card">
            <i class="bi bi-telephone-fill icon"></i>
            <div>
                <h5 class="mb-1">Solicitar Archivos</h5>
                <p class="mb-0">+012 345 6789</p>
            </div>
        </div>
    </div>
    <!-- end cards -->
</div>

<div class="table-container mt-3 mb-5">
    <h3 class="mb-4 text-center">Historial de Solicitudes Realizadas</h3>
    <div class="table-responsive">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th data-col="id">#</th>
                    <th data-col="nombre">Nombre</th>
                    <th data-col="cargo">Cargo</th>
                    <th data-col="edad">Edad</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
