.select-container {
    width: 90%;
    position: relative;
    font-family: Arial;
    max-height: 1rem;
}

.select-container-alter {
    width: 100%;
    position: relative;
    font-family: Arial;
    max-height: 1rem;
}

.select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 6px;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.select-box input {
    border: none;
    outline: none;
    flex: 1;
    cursor: pointer;
    background: transparent;
}

.arrow {
    font-size: 12px;
    color: #666;
}

.options {
    display: none;
    position: absolute;
    top: 110%;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 180px;
    overflow-y: auto;
    z-index: 10;
    border-radius: 0 0 5px 5px;
}

.option-item {
    padding: 8px;
    cursor: pointer;
}

.option-item:hover {
    background: #eee;
}